/* styles/phone-input.css */
.phone-input-custom {
  width: 100%;
}

.phone-input-custom .PhoneInputInput {
  flex: 1;
  border: none;
  outline: none;
  padding: 0.08rem;
  background: transparent;
  height: 1.1rem;
  border-radius: 3rem;
  background-color: transparent;
}

.phone-input-custom .PhoneInputCountry {
  margin-right: 0.5rem;
}
.PhoneInputCountrySelect {
  background-color: rgba(88, 112, 136, 0.67);
}
.phone-input-custom .PhoneInputCountrySelect {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  border: 0;
  opacity: 0;
  cursor: pointer;
}

/* Style pour le container principal */
.PhoneInput {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border: 1px solid #d1d5db;
  border-radius: 0.5rem;
  background: transparent;
  background-color: transparent;
}

.PhoneInput:focus-within {
  border-color: #3b82f6;
  ring: 2px solid #3b82f6;
}
.dark .PhoneInput:focus-within {
  border: solid 2px #3b82f6;
  box-shadow: 2px 2px 5px rgba(14, 158, 241, 0.5);
}
/* Mode sombre */
.dark .PhoneInput {
  background: #374151;
  border-color: #4b5563;
  color: white;
}
